<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mission O-Possumble | Michael Stowe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='unity/mission_o_possumble/TemplateData/style.css') }}">
    <script src="{{ url_for('static', filename='unity/mission_o_possumble/TemplateData/UnityProgress.js') }}"></script>
    <script src="{{ url_for('static', filename='unity/mission_o_possumble/Build/UnityLoader.js') }}"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "{{ url_for('static', filename='unity/mission_o_possumble/Build/WebBuild.json') }}", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 1024px; height: 750px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">Mission O-Possumble</div>
      </div>
    </div>
  </body>
</html>