<div class="project">
    <h2>Mission O-Possumble</h2>
    <h3>C#, Unity</h3>
    <p>An original game made from scratch in Unity with a team of three other students. Using an Agile workflow over the
        course of about seven weeks, we made all original assets and art to make a unique and challenging game that
        ended up winning second place in the Umich and EMU showcase at the end of the semester.

        See more about Mission O-Possumble and download for free at our
        <a href="https://sbtgsstudios.itch.io/mission-o-possumble" target="_blank">itch.io page!</a>
    </p>
</div>
<div class="project">
    <h2>Timber</h2>
    <h3>C#, Unity</h3>
    <p>An original game made as a two-week rapid prototype.

    <a href="/projects/timber/" target="_blank">Play it here.</a>
    </p>
</div>
<div class="project">
    <h2>Metroid Remake</h2>
    <h3>C#, Unity</h3>
    <p>A remake of the first stage of the 1986 NES game Metroid. Made with one teammate as an introduction to game
        development.

        <a href="/projects/metroid/" target="_blank">Play it here.</a>
    </p>
</div>
<div class="project">
    <h2>Search Engine</h2>
    <h3>Python/Flask, Bash</h3>
    <p>An end-to-end search engine built mainly in Python utilizing a MapReduce pipeline to construct an inverted index
        from Wikipedia articles, along with a REST API and Flask app to create a user interface.
    </p>

    <p>Concepts learned:</p>
    <ul>
        <li>Parallel data processing with MapReduce.</li>
        <li>Information retrieval based on tf-idf and PageRank scores</li>
    </ul>
</div>
<div class="project">
    <h2>MapReduce</h2>
    <h3>Python</h3>
    <p>Implementation of a MapReduce server similar to Hadoop.
    </p>
</div>
<div class="project">
    <h2>Instagram Clone</h2>
    <h3>Python/Flask, JavaScript/React, HTML/CSS, SQL, AJAX, REST</h3>
    <p>A fully user-interactive Instagram clone.

    <p>Concepts learned:</p>
    <ul>
        <li>Templating sites through Jinja with a Flask app.</li>
        <li>Server-side and client-side dynamic concepts</li>
        <li>Asynchronous programming with AJAX.</li>
        <li>REST APIs</li>
        <li>Using JavaScript (specifically React) for creating a better user experience.</li>
        <li>Scaling a site and deploying to AWS.</li>
    </ul>
</div>
<div class="project">
    <h2>SAD Detection</h2>
    <h3>Python</h3>
    <p>A machine learning-oriented Python program that scans and analyzes Twitter users' tweets to find trends in
        sentiment to predict the possibility of time-based emotional disorders such as Seasonal Affective Disorder (SAD)
        or Bipolar Disorder.
    </p>
</div>
<div class="project">
    <h2>Spoken Word Calculator</h2>
    <h3>Python</h3>
    <p>A Python program that uses Hidden Markov Models to determine the words spoken in a sound clip, allowing a user
        to perform calculations using only their voice.
    </p>
</div>
<div class="project">
    <h2>Network Security</h2>
    <h3>Go</h3>
    <p>A collection of programs written in Go to both protect against and exploit vulnerabilities in HTTP and DNS
        servers. The protection aspect involved detecting spoofed ARP packets and the use of port scanning, and the
        malicious aspect involved spoofing DNS packets to expose man-in-the-middle vulnerabilities.
    </p>
</div>
<div class="project">
    <h2>Web Security</h2>
    <h3>HTML, JavaScript, SQL</h3>
    <p>A collection of web-based programs to expose common vulnerabilities including SQL injection, XSS using HTML
        and JavaScript, and CSRF.
    </p>
</div>
<div class="project">
    <h2>Cryptography</h2>
    <h3>Python</h3>
    <p>A collection of cryptography programs written in Python including length extension attacks, hash collisions,
        RSA signature forgery, padding oracle attacks, and hacking the Vigenère cipher.
    </p>
</div>
<div class="project">
    <h2>Schedule Recommender</h2>
    <h3>Python</h3>
    <p>A recommender system written in Python that uses machine learning to take in the classes a student as taken so
        far, find previous students who have taken similar classes, and output a recommended schedule consisting of
        classes the student would probably enjoy.
    </p>
</div>
<div class="project">
    <h2>LC2K</h2>
    <h3>C, Assembly</h3>
    <p>A simulation of the Little Computer 2000 (LC2K) written in C. This simulated computer included an assembler to
        convert assembly code for a custom ISA to machine code, single cycle, multi cycle, and pipelined processors, a
        linker, and a cache system.
    </p>
</div>
<div class="project">
    <h2>Travelling Salesperson</h2>
    <h3>C++</h3>
    <p>A C++ program that utilizes Prim's Algorithm and heuristics to efficiently find approximate solutions to the
        Travelling Salesperson problem.
    </p>
</div>
<div class="project">
    <h2>theCurlyBot</h2>
    <h3>Python</h3>
    <p>A reddit bot - called theCurlyBot - that I created with a small team using Python. Our bot pulls fake news
        headlines from the subreddit /r/TheOnion, and real (but fake-sounding) headlines from /r/NotTheOnion. It then
        runs a natural language processing algorithm on the pool of headlines that it continually collects, and makes
        its own fake news headlines that it then posts to its own subreddit.
    </p>
</div>
<div class="project">
    <h2>Image Resizing</h2>
    <h3>C++</h3>
    <p>A program written in C++ that resizes images without cropping them. It inputs the original image, and removes
        rows and columns of unneeded pixels based on the pixels that surround it until reaching the desired size. This
        allows the image to be resized without much noticeable change in terms of content.
    </p>
</div>
<div class="project">
    <h2>Puzzle Solver</h2>
    <h3>C++</h3>
    <p>A C++ program that uses breadth-first search and depth-first search algorithms to solve three-dimensional mazes.
    </p>
</div>
<div class="project">
    <h2>Mechanical Keyboard</h2>
    <p>I designed and built a custom mechanical keyboard. The electronics are completely hand-wired
        to an Arduino Teensy. I coded the firmware to match the custom key layout that I use. The parts for the casing
        were laser cut to fit all of the inner components.
    </p>
</div>