<main>
    <h2>Languages</h2>
    <ul>
        <li>C/C++/C#</li>
        <li>Python</li>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>SQL</li>
        <li>Java/Kotlin</li>
        <li>Go</li>
    </ul>
    <h2>Software</h2>
    <ul>
        <li>Unity</li>
        <li>Linux systems</li>
        <li>Wordpress</li>
        <li>Git</li>
        <li>JetBrains IDEs</li>
        <li>Visual Studio/VS Code</li>
        <li>Android Studio</li>
        <li>Jira</li>
        <li>Adobe Creative Suite</li>
        <li>GIMP</li>
    </ul>
    <h2>Other Skills</h2>
    <ul>
        <li>Problem Solving</li>
        <li>Creativity</li>
        <li>Leadership</li>
        <li>Keeping plants alive</li>
    </ul>
</main>