@font-face {
  font-family: DM;
  src: url("../fonts/DMMono-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: DM;
  src: url("../fonts/DMMono-Italic.ttf");
  font-style: italic;
}

$accent: #83a598;
$white: #fbf1c7;
$bg: #282828;

$trans: 200ms all;

body {
  background-color: $bg;
  font-family: DM, monospace;
  color: $white;
  transition: $trans;
}

#main_window {
  width: 95%;
  margin: 0 auto;
}

#header {
  width: 100%;
  margin:0 auto;

  h1 {
    font-weight: bold;
    font-style: italic;
  }

  #datetime {
    width: 100%;
    font-size: 3vw;

    #time {
      font-size: 6vw;
    }

    #date {
      font-size: 4vw;
    }

    #sep {
      display: none;
    }
  }
}

#websearch {
  width: 10%;
}

form input[type="search"] {
  background: $bg;
  border: none;
  box-sizing: border-box;
  font: inherit;
  margin-left: 25px;
  color: $white;
}

form label {
  color: $white;
  position: absolute;
  transition: all 0.4s;
}

form:focus-within input::placeholder {
  opacity: 0;
}

#links_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .link_block {
    width: 150px;
    margin-top: 30px;
    padding-right: 30px;

    h3 {
      color: $accent;
    }

    a {
      font-size: min(4vw, 20px);
      display: inline-block;
      padding: 3px 0;
      color: $white;
      text-decoration: none;
      transition: $trans;

      &:hover {
        color: $accent;
        transition: $trans;
      }
    }
  }
}


/*
  Media queries
*/
@media (min-width: 550px) {
  #main_window {
    width: 45%;
    min-width: 700px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }

  #header {
    line-height: 1;

    h1 {
      font-size: 56px !important;
      margin: 0 !important;
    }

    #datetime {
      #date, #time, #sep {
        display: inline-block !important;
        font-size: 32px !important;
      }
    }
  }

  #links_container {
    justify-content: space-between;

    .link_block {
      padding: 0;

      h3 {
        font-size: 24px !important;
        margin: 0 0 10px 0;
      }

      a {

        font-size: 18px !important;
      }
    }
  }
}